<div class="auth-page">
  <div class="auth-card auth-card--wide">
    <h2>Inscription</h2>
    <p>Rejoignez E·Store dès aujourd'hui</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="form-group">
          <label>Prénom</label>
          <input type="text" formControlName="firstName" placeholder="Mohamed"
            [class.error]="f['firstName'].invalid && f['firstName'].touched">
          <div class="err-msg" *ngIf="f['firstName'].invalid && f['firstName'].touched">Prénom requis.</div>
        </div>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" formControlName="lastName" placeholder="Alami"
            [class.error]="f['lastName'].invalid && f['lastName'].touched">
          <div class="err-msg" *ngIf="f['lastName'].invalid && f['lastName'].touched">Nom requis.</div>
        </div>
      </div>

      <div class="form-group">
        <label>Adresse e-mail</label>
        <input type="email" formControlName="email" placeholder="vous@email.com"
          [class.error]="f['email'].invalid && f['email'].touched">
        <div class="err-msg" *ngIf="f['email'].invalid && f['email'].touched">E-mail invalide.</div>
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" formControlName="password" placeholder="Min. 8 caractères"
          [class.error]="f['password'].invalid && f['password'].touched">
        <div class="err-msg" *ngIf="f['password'].invalid && f['password'].touched">
          Minimum 8 caractères requis.
        </div>
      </div>

      <div class="form-group">
        <label>Confirmer le mot de passe</label>
        <input type="password" formControlName="confirmPassword" placeholder="••••••••"
          [class.error]="form.errors?.['mismatch'] && f['confirmPassword'].touched">
        <div class="err-msg" *ngIf="form.errors?.['mismatch'] && f['confirmPassword'].touched">
          Les mots de passe ne correspondent pas.
        </div>
      </div>

      <button type="submit" class="btn btn-gold btn-full" [disabled]="loading">
        <span *ngIf="!loading">Créer mon compte</span>
        <span *ngIf="loading">Création…</span>
      </button>
    </form>

    <div class="form-note">
      Déjà inscrit ? <a routerLink="/auth/login">Se connecter</a>
    </div>
  </div>
</div>
